.tabs-container {
  background-color: var(--background);
  color: var(--foreground);
  padding: 0;
}

.tabs-container ul {
  display: flex;
}

.tabs-container:hover {
  overflow-x: auto;
}

.empty {
  flex: 1;
  border-bottom: 1px solid var(--foreground);
}